## Krupa Modha
## 216270307101

In [1]:
import pandas as pd
import numpy as np
# Creating Data
data = { 'Name' : ['Krupa','Bhumi','Nikita','Bhakti','Aastha'],
'Enroll' : [101, 100, 99, 98 , np.nan], 'Age' : [18,17,20,21,np.nan] }
df = pd.DataFrame(data)
filtered_data = df.dropna(axis=1, how='any')
# Rows with Nan Values
rows_nan = df[df.isnull().any(axis=1)]
# Columns with Nan Values
columns_nan = df.columns[df.isnull().any()]
# Drop Nan Values
df_cleaned = df.dropna() 
print("\nFiltered DataFrame with all entries present ")
print(filtered_data) 
print("\nRows with NaN values ")
print(rows_nan)
print("\nColumns with NaN values ") 
print(columns_nan)
print("\nCleaned DataFrame with no NaN values ") 
print(df_cleaned)

Filtered DataFrame with all entries present
     Name
0   Krupa
1   Bhumi
2  Nikita
3  Bhakti
4  Aastha

Rows with NaN values
     Name  Enroll  Age
4  Aastha     NaN  NaN

Columns with NaN values
Index(['Enroll', 'Age'], dtype='object')

Cleaned DataFrame with no NaN values
     Name  Enroll   Age
0   Krupa   101.0  18.0
1   Bhumi   100.0  17.0
2  Nikita    99.0  20.0
3  Bhakti    98.0  21.0