## Krupa Modha
## 216270307101

In [1]:
import pandas as pd
import numpy as np

# Dictionary
data = {
    "name": ['Superman', 'Batman', 'Spiderman'],
    "toy": [np.nan, 'Batmobile', 'Spiderman toy'],
    "born": [np.nan, pd.Timestamp("1956-06-26"), pd.NaT]
}

# Converting into DataFrame
df = pd.DataFrame(data)

# Before Remove Missing values 
print("Before Removing Missing Values ")
print(df)

# After Removing Missing Values 
print("\nAfter Removing Missing Values ")
print(df.dropna())

Before Removing Missing Values
        name            toy       born
0   Superman            NaN        NaT
1     Batman      Batmobile 1956-06-26
2  Spiderman  Spiderman toy        NaT

After Removing Missing Values
     name        toy       born
1  Batman  Batmobile 1956-06-26

In [2]:
#to remove the duplicates from the given dataset.

In [3]:
import pandas as pd
import numpy as np

# Dictionary
data = {
    'Name': ['Krupa', 'Bhumi', np.nan, 'Nikki', 'Bhakti'],
    'ID': [101, 100, 99, 98, np.nan]
}

# Converting into DataFrame
df = pd.DataFrame(data)

# Before Remove Duplicate values
print("Before Removing Duplicate Values ")
print(df)

# After Removing Duplicate Values
print("\nAfter Removing Duplicate Values "),
print(df.drop_duplicates('Name'))

Before Removing Duplicate Values
     Name     ID
0   Krupa  101.0
1   Bhumi  100.0
2     NaN   99.0
3   Nikki   98.0
4  Bhakti    NaN

After Removing Duplicate Values
     Name     ID
0   Krupa  101.0
1   Bhumi  100.0
2     NaN   99.0
3   Nikki   98.0
4  Bhakti    NaN